    <div class="col-md-12 navbar navbar-inverse navbar-fixed-top">
      <div class="adv" style="color: #fff;text-align: center;">
        <h3 class="h3adv">Sitio en desuso. Ahora el blog de elstef41 se encuentra en <a href="https://www.elstef41.cf" style="color:#fff">www.elstef41.cf</a></h3>
      </div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Blog de elstef41</a>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
              <li><a href="{{ site.baseurl }}/">Inicio</a></li>
          {% for page in site.pages %}
            {% if page.title %}
              <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
          
<!--           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<b class="caret"></b></a>
            <ul class="dropdown-menu">
            {% for page in site.pages %}
              {% if page.title %}
                <li><a href="{{ page.url | prepend: site.baseurl }}" style="text-transform : uppercase;">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </li>
 -->        </ul>
       
        <ul class="nav navbar-nav navbar-right left-syms">
          <li><a href="https://www.youtube.com/user/elstef41/" target="_blank"><i class="fa fa-youtube"></i> <span>YouTube</span></a></li>
        </ul>
      </div>
    </div>
