    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/prettify.js"></script>
    <script>
      [].forEach.call(document.getElementsByTagName("pre"), function(el) {
        el.classList.add("prettyprint");
      });

      prettyPrint();
    </script>
    <script type="text/javascript">

    </script>

    <style>
      pre.prettyprint {

        font-size: 13px;
        font-family: "Open Sans";
        padding: 8px 12px;
        border: 1px solid #bbb;
        border-radius: 4px;
      }
    </style>